body {
    font-family: 'Monoton', cursive;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-family: 'Monoton', cursive;
    color: #FF172A;
}

.row-content {
    padding: 30px 0;
}

.row-content {
    h1 {    
    text-align: center;
    }
}

#test {
    border-radius: 7px;
}

.fa {
    color: #FF172A;
}

#phone {
    color: #007bff
}

footer {
    background-color: #262626;
}

nav {
    background-color: #262626;
}

.nav-link{
    color: #FF172A;
}

.carousel-inner .carousel-item img{
    margin: 0 auto;
    border: solid white;
}

#mediaCarousel {
    .carousel-control-prev-icon {
        margin-left: 55px;
    }
}

#mediaCarousel {
    .carousel-control-next-icon {
        margin-right: 55px;
    }
}

.card {
    color: white;
    #table-selector, li {
        background-color: #3e556d;
        border-bottom-left-radius: calc(0.25rem - 1px);;
        border-bottom-right-radius: calc(0.25rem - 1px);;
    }
}

.card-header {
    background-color: #262626;
}

.table {
    width: 100%;
    td {
        border: none;
        width: 33%;
    }
}
