$color-red: #FF172A;
$color-blue: #007bff;
$color-navy: #3e556d;
$color-darkgrey: #262626;

$body-font: 'Monoton', cursive;
$body2-font: font-family: 'Open Sans', sans-serif;

body {
    font-family: 'Monoton', cursive;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-family: 'Monoton', cursive;
    color: $color-red;
}

.row-content {
    padding: 30px 0;
    h1 {    
        text-align: center;
    }
}

.fa {
    color: $color-red;
}

#phone {
    color: $color-blue;
}

footer, nav {
    background-color: $color-darkgrey;
}

.carousel-inner .carousel-item img{
    margin: 0 auto;
    border: solid white;
}

#mediaCarousel {
    .carousel-control-prev-icon {
        margin-left: 55px;
    }
    .carousel-control-next-icon {
        margin-right: 55px;
    }
}

.card {
    color: white;
    #table-selector, li {
        background-color: $color-navy;
        border-bottom-left-radius: calc(0.25rem - 1px);;
        border-bottom-right-radius: calc(0.25rem - 1px);;
    }
}

.card-header {
    background-color: $color-darkgrey;
}

.table {
    width: 100%;
    td {
        border: none;
        width: 33%;
    }
}
